<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leanshi.mapper.MemberBankMapper">
    <resultMap id="BankResultMap" type="cn.leanshi.model.MemberBank">
        <id column="OID" jdbcType="INTEGER" property="oId" />
        <result column="MM_CODE" property="mCode" />
        <result column="ACC_TYPE" property="accType" />
        <result column="CURRENCY" property="currency" />
        <result column="ACC_CODE" property="accCode" />
        <result column="ACC_NAME" property="accName" />
        <result column="BANK_CODE" property="bankCode" />
        <result column="BANK_DETAIL" property="bankDetail" />
        <result column="VALID_THRU" property="validThru" />
        <result column="CVV2" property="cvv2" />
        <result column="DEFAULTBANK" property="defaultBank" />
        <result column="PAYMENT_DEFAULT" property="paymentDefault" />
        <result column="WITHDRAW_DEFAULT" property="withdrawDefault" />
        <result column="RECHARGE_DEFAULT" property="rechargeDefault" />
    </resultMap>

    <!--根据编号查找所有会员银行信息-->
    <select id="findMBankByMCode" parameterType="string" resultMap="BankResultMap">
        select * from rd_mm_bank
        where MM_CODE = #{mCode}
    </select>

    <!--根据编号和姓名修改银行卡信息-->
    <update id="updateByMBank" parameterType="map" >
        UPDATE rd_mm_bank
        SET
        WITHDRAW_DEFAULT = #{withdrawDefault}
        WHERE
        MM_CODE = #{mCode}
    </update>

    <!--根据oId和mcode删除银行卡信息-->
    <delete id="delBankByOid" parameterType="map">
        DELETE FROM rd_mm_bank WHERE OID = #{oId} AND MM_CODE = #{mCode}
    </delete>

    <!--根据mcode删除所有银行卡信息-->
    <delete id="outAllBankByMCode" parameterType="string">
        DELETE FROM rd_mm_bank WHERE MM_CODE = #{mCode}
    </delete>

    <!--根据mcode查询该会员有多少个银行信息-->
    <select id="countMBankByMCode" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM rd_mm_bank WHERE MM_CODE = #{mCode}
    </select>

    <!--根据编号添加银行卡-->
    <insert id="addBankByMCode" parameterType="cn.leanshi.model.MemberBank">
        INSERT INTO rd_mm_bank(MM_CODE,ACC_TYPE,BANK_CODE,ACC_NAME,ACC_CODE,DEFAULTBANK) values(#{mCode},#{accType},#{bankCode},#{accName},#{accCode},#{defaultBank})
    </insert>

    <!--把相同编号的其他银行卡的默认方式设为0-->
    <update id="updateBankDefaultByMCode" parameterType="string">
        UPDATE rd_mm_bank SET DEFAULTBANK = 0 WHERE MM_CODE = #{mCode}
    </update>

    <!--查询该会员有多少个银行卡-->
    <select id="selectCount" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM rd_mm_bank WHERE MM_CODE = #{mCode}
    </select>

    <!--设置默认提现银行卡-->
    <update id="defBankByOid" parameterType="map">
        UPDATE rd_mm_bank SET DEFAULTBANK = #{defaultBank} WHERE OID = #{oId} AND MM_CODE = #{mCode}
    </update>

    <!--根据mcode查询该会员默认银行卡-->
    <select id="findMBankByMCodeAndDefual" parameterType="string" resultMap="BankResultMap">
        SELECT * FROM rd_mm_bank WHERE MM_CODE = #{mCode} AND DEFAULTBANK = 1
    </select>

    <!--根据oid查询该会员银行卡-->
    <select id="findMBankByOId" parameterType="java.lang.Integer" resultMap="BankResultMap">
        SELECT * FROM rd_mm_bank WHERE OID = #{oId}
    </select>

</mapper>