<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leanshi.mapper.MemberEditReviewMapper">

    <resultMap id="EditResultMap" type="cn.leanshi.model.MemberEditReview">

        <id column="EID" jdbcType="INTEGER" property="rId" />
        <result column="MM_CODE" property="mCode" />

        <result column="MM_NAME_BEFORE" property="mNameBefore" />
        <result column="MM_NAME_AFTER" property="mName" />

        <result column="ID_TYPE_BEFORE" property="idTypeBefore" />
        <result column="ID_TYPE_AFTER" property="idType" />

        <result column="ID_CODE_BEFORE" property="idCodeBefore" />
        <result column="ID_CODE_AFTER" property="idCode" />

        <result column="MM_NICK_NAME_BEFORE" property="mNicknameBefore" />
        <result column="MM_NICK_NAME_AFTER" property="mNickname" />

        <result column="GENDER_BEFORE" property="genderBefore" />
        <result column="GENDER_AFTER" property="gender" />

        <result column="MOBILE_BEFORE" property="mobileBefore" />
        <result column="MOBILE_AFTER" property="mobile" />

        <result column="WECHAT_CODE_BEFORE" property="weChatBefore" />
        <result column="WECHAT_CODE_AFTER" property="weChat" />

        <result column="EMAIL_BEFORE" property="emailBefore" />
        <result column="EMAIL_AFTER" property="email" />

        <result column="ADD_POST_BEFORE" property="addPostBefore" />
        <result column="ADD_POST_AFTER" property="addPost" />



        <result column="ADD_PROVINCE_ID_BEFORE" property="provinceBefore" />
        <result column="ADD_PROVINCE_ID_AFTER" property="province" />

        <result column="ADD_CITY_ID_BEFORE" property="cityBefore" />
        <result column="ADD_CITY_ID_AFTER" property="city" />

        <result column="ADD_COUNTRY_ID_BEFORE" property="countryBefore" />
        <result column="ADD_COUNTRY_ID_AFTER" property="country" />

        <result column="ADD_DETIAL_BEFORE" property="detialBefore" />
        <result column="ADD_DETIAL_AFTER" property="detial" />

        <result column="BANK_DETAIL_BEFORE" property="bankdetailBefore" />
        <result column="BANK_DETAIL_AFTER" property="bankdetail" />

        <result column="ACC_NAME_BEFORE" property="accNameBefore" />
        <result column="ACC_NAME_AFTER" property="accName" />

        <result column="ACC_CODE_BEFORE" property="accCodeBefore" />
        <result column="ACC_CODE_AFTER" property="accCode" />

        <result column="WITHDRAW_DEFAULT_BEFORE" property="withdrawDefaultBefore" />
        <result column="WITHDRAW_DEFAULT_AFTER" property="withdrawDefault" />

        <result column="SPONSOR_CODE_BEFORE" property="sponsorCodeBefore" />
        <result column="SPONSOR_CODE_AFTER" property="sponsorCode" />

        <result column="SPONSOR_NAME_BEFORE" property="sponsorNameBefore" />
        <result column="SPONSOR_NAME_AFTER" property="sponsorName" />



        <result column="RANK_BEFORE" property="rankBefore" />
        <result column="RANK_AFTER" property="rank" />

        <result column="RA_CODE_BEFORE" property="raCodeBefore" />
        <result column="RA_CODE_AFTER" property="raCode" />

        <result column="RA_NAME_BEFORE" property="raNameBefore" />
        <result column="RA_NAME_AFTER" property="raName" />

        <result column="RA_ID_TYPE_BEFORE" property="raIdTypeBefore" />
        <result column="RA_ID_TYPE_AFTER" property="raIdType" />

        <result column="RA_ID_CODE_BEFORE" property="raIdCodeBefore" />
        <result column="RA_ID_CODE_AFTER" property="raIdCode" />

        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_MEMO" property="updateMemo" />
        <result column="UPDATE_TYPE" property="updateType" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="REVIEW_MEMO" property="reviewMemo" />
        <result column="REVIEW_STATUS" property="reviewStatus" />

    </resultMap>

    <!--根据编号查找会员中最大的id数据-->
    <select id="selectLastByMCode" parameterType="string" resultMap="EditResultMap">
        SELECT * FROM rd_mm_edit
          WHERE
            EID=(SELECT max(EID) from rd_mm_edit where MM_CODE=#{mCode})
    </select>

    <insert id="saveEdit" parameterType="cn.leanshi.model.MemberEditReview">
        INSERT INTO rd_mm_edit(MM_CODE,MM_NAME_BEFORE,MM_NAME_AFTER,ID_TYPE_BEFORE,
                              ID_TYPE_AFTER,ID_CODE_BEFORE,ID_CODE_AFTER,MM_NICK_NAME_BEFORE,
                              MM_NICK_NAME_AFTER,GENDER_BEFORE,GENDER_AFTER,MOBILE_BEFORE,
                              MOBILE_AFTER,WECHAT_CODE_BEFORE,WECHAT_CODE_AFTER,EMAIL_BEFORE,
                              EMAIL_AFTER,ADD_POST_BEFORE,ADD_POST_AFTER,ADD_PROVINCE_ID_BEFORE,
                              ADD_PROVINCE_ID_AFTER,ADD_CITY_ID_BEFORE,ADD_CITY_ID_AFTER,
                              ADD_COUNTRY_ID_BEFORE,ADD_COUNTRY_ID_AFTER,ADD_DETIAL_BEFORE,
                              ADD_DETIAL_AFTER,BANK_DETAIL_BEFORE,BANK_DETAIL_AFTER,ACC_NAME_BEFORE,
                              ACC_NAME_AFTER,ACC_CODE_BEFORE,ACC_CODE_AFTER,WITHDRAW_DEFAULT_BEFORE,
                              WITHDRAW_DEFAULT_AFTER,SPONSOR_CODE_BEFORE,SPONSOR_CODE_AFTER,
                              SPONSOR_NAME_BEFORE,SPONSOR_NAME_AFTER,RANK_BEFORE,RANK_AFTER,
                              RA_CODE_BEFORE,RA_CODE_AFTER,RA_NAME_BEFORE,RA_NAME_AFTER,
                              RA_ID_TYPE_BEFORE,RA_ID_TYPE_AFTER,RA_ID_CODE_BEFORE,RA_ID_CODE_AFTER,
                              UPDATE_BY,UPDATE_MEMO,UPDATE_TYPE,UPDATE_TIME,REVIEW_MEMO,REVIEW_STATUS)
        VALUES(#{mCode},#{mNameBefore},#{mName},#{idTypeBefore},#{idType},#{idCodeBefore},#{idCode},
              #{mNicknameBefore},#{mNickname},#{genderBefore},#{gender},#{mobileBefore},#{mobile},
              #{weChatBefore},#{weChat},#{emailBefore},#{email},#{addPostBefore},#{addPost},#{provinceBefore},
              #{province},#{cityBefore},#{city},#{countryBefore},#{country},#{detialBefore},#{detial},
              #{bankdetailBefore},#{bankdetail},#{accNameBefore},#{accName},#{accCodeBefore},#{accCode},
              #{withdrawDefaultBefore},#{withdrawDefault},#{sponsorCodeBefore},#{sponsorCode},#{sponsorNameBefore},
              #{sponsorName},#{rankBefore},#{rank},#{raCodeBefore},#{raCode},#{raNameBefore},#{raName},
              #{raIdTypeBefore},#{raIdType},#{raIdCodeBefore},#{raIdCode},
              #{updateBy},#{updateMemo},#{updateType},#{updateTime},#{reviewMemo},#{reviewStatus})
    </insert>

    <!--根据编号姓名修改类型修改状态修改时间条件搜索-->
    <select id="findEditAll" parameterType="java.util.Map" resultMap="EditResultMap">
        SELECT * FROM rd_mm_edit
        WHERE
        REVIEW_STATUS >= 0
        <if test="mCode !=null and mCode != ''">
            AND MM_CODE LIKE "%"#{mCode}"%"
        </if>
        <if test="mName !=null and mName != ''">
            AND MM_NAME_AFTER LIKE "%"#{mName}"%"
        </if>
        <if test="updateType !=null">
            AND UPDATE_TYPE = #{updateType}
        </if>
        <if test="reviewStatus !=null">
            AND REVIEW_STATUS = #{reviewStatus}
        </if>
        <if test="updateTime !=null">
            AND UPDATE_TIME = #{updateTime}
        </if>
        ORDER BY REVIEW_STATUS,UPDATE_TIME ASC
    </select>

    <!--根据id查找会员修改信息-->
    <select id="findEditById" parameterType="java.lang.Integer" resultMap="EditResultMap">
        SELECT * FROM rd_mm_edit
        WHERE
        EID = #{rId}
    </select>

    <!--根据id修改会员修改信息-->
    <update id="updateEditById" parameterType="java.util.Map" >
        UPDATE rd_mm_edit
          SET
          REVIEW_STATUS = #{reviewStatus}
          WHERE EID = #{rId}
    </update>

    <!--根据条件查找所有待审修改信息-->
    <select id="findEditStatus" parameterType="java.util.Map" resultMap="EditResultMap">
        SELECT * FROM rd_mm_edit
        WHERE
        REVIEW_STATUS = 0
        <if test="mCode !=null and mCode != ''">
            and MM_CODE LIKE "%"#{mCode}"%"
        </if>
        <if test="mName !=null and mName != ''">
            and MM_NAME_AFTER  LIKE "%"#{mName}"%"
        </if>
        <if test="updateTime !=null and updateTime != ''">
            and UPDATE_TIME = #{updateTime}
        </if>
        ORDER BY UPDATE_TIME ASC
    </select>


    <select id="findEditByMCode" parameterType="map" resultMap="EditResultMap">
        SELECT * FROM rd_mm_edit
        WHERE
        MM_CODE = #{mCode} AND UPDATE_TYPE = #{updateType} AND REVIEW_STATUS = 0
    </select>

</mapper>